#examPage{
    background-color: white;
    padding: 50px;
    border-radius: 15px;
}
body{
    height: 100vh;
   
    background-image:linear-gradient( blueviolet,white);
}
#submitBTN {
  display: none;
  background-color: green;
}
.overlay{
    height: 100vh;
    width: 100%;
    background-image: url(../assets/stars.png);
    background-size: cover;
    background-repeat: no-repeat;
     display: flex;
    justify-content: center;
    align-items: center;
}