body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  background-color: #ffffff !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  padding: 10px;
  color: #333;
  box-sizing: border-box;
}

.formSUBJECT, .password {
  display: flex;
  flex-direction: column;
}

.input:focus, .input:hover {
  background-color: #ffffff !important;
  border-color: #e7e8e9 !important;
  outline: none;
}

.btnLogin {
  border-radius: 5px;
  color: white;
  background-color: rgb(98, 52, 142);
  border: none;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  width: 200px;
}

.btnLogin:hover {
  background-color: rgb(80, 40, 120);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btnLogin:active {
  background-color: rgb(60, 30, 100);
}

.login {
  margin-top: 50px;
  text-align: center;
  justify-content: center;
}
.login p 
{
  margin-top: 20px;
}

.loginPicContiner {
  text-align: center;
}

.link {
  text-decoration: none;
  color: rgb(26, 25, 25);
  display: block;
  margin-top: 10px;
}

.contactP {
  color: rgb(98, 52, 142);
  font-size: 18px;
}

.welcomeP {
  color: #333;
  font-size: 16px;
}

.error {
  display: none;
  color: red;
}
.errorButton
{
  display: none;
  color: red;
}

@media (max-width: 768px) {
  body {
      margin: 50px;
  }

  .loginPicContiner {
      display: none;
  }

  .loginFormContiner {
      width: 100%;
  }
}

@media (max-width: 576px) {
  .loginPicContiner {
      display: none;
  }

  .loginFormContiner {
      width: 100%;
  }
