body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contactP{
  color:#9747ff !important;
}
.btnSubmit {
  background-color:  #9747ff;
  color: white;
  transition: background-color 0.3s ease;
  border: none;
  padding: 8px;
  border-radius: 10px;
}

.btnSubmit:hover {
  background-color: #9747ff;
  color: white;
}

.SucessP
{
    text-align: center;
    margin-top: 5%;
    display: none;


}

@media (max-width: 768px) {
  .picContiner {
    display: none;
  }
  .formContiner {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .picContiner {
    display: none;
  }
  .formContiner {
    max-width: 100%;
    width: 100%;
  }
}
.agreePolicyLink {
  color: rgb(85, 82, 82);
}
.loginPage{
text-decoration: none;
  color: rgb(85, 82, 82);
}
.loginPageParaghrph
{
    margin-top: 3%;
}
.error {
  display: none;
  color: red;
}
