body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.picContiner {
  width: 40%;
}

.formContiner {
  width: 35%;
}

.btnSubmit {
  background-color: rgb(127, 74, 176);
  color: white;
  transition: background-color 0.3s ease;
}

.btnSubmit:hover {
  background-color: rgb(98, 52, 142);
  color: white;
}

.SucessP
{
    text-align: center;
    margin-top: 5%;
    display: none;


}

@media (max-width: 768px) {
  .picContiner {
    display: none;
  }
  .formContiner {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .picContiner {
    display: none;
  }
  .formContiner {
    max-width: 100%;
    width: 100%;
  }
}
.agreePolicyLink {
  text-decoration: none;
  color: rgb(85, 82, 82);
}
.loginPage{
text-decoration: none;
  color: rgb(85, 82, 82);
}
.loginPageParaghrph
{
    margin-top: 3%;
}
.error {
  display: none;
  color: red;
}
