.home-btn {
  display: block;
  background-color: blueviolet;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}
.mainResult {
  color: #1d4645;
  font-size: 3rem;
  margin: 20px 0;
}
.try-btn {
  display: block;
  background-color: transparent;
  border: 1px solid blueviolet;
  padding: 10px;
  color: blueviolet;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}
